.user_card_mess_container {
  display: flex;
  width: inherit;
  justify-content: space-between;
  background-color: var(--background-color-second);
  border: none;
  .user_info {
    margin: 0.3rem;
    padding: 0 0.5rem;
    .user_info_path {
      display: flex;
      column-gap: 0.1rem;
      .user_info_column {
        display: flex;
        flex-direction: column;
        .user_fullname {
          color: var(--color-primary);
        }
      }
    }
  }
  .user_info:hover {
    background-color: #e4e6eb;
    border-radius: 10px;
    cursor: pointer;
  }
  .function_button {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: 0.5rem;
    column-gap: 1.5rem;
    .btn { 
      width: 40px;
      height: 40px;
      border-radius: 50%;

    }
    svg {
      path {
        fill: var(--color-primary);
      }
      fill: var(--color-primary);
    }
  }
  .function_button .btn:hover {
    background-color: var(--color-hover-input);
    cursor: pointer;
  }
}
