.user_list_info {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  .user_list_content {
    .user_list_fullname {
      .full-name {
        color: var(--color-primary);
      }
      .notify {
        color: var(--color-second);
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .user_list_content {
    display: none;
  }
}
