.comments-post {
  padding: 4px 16px 12px;

  .btn-add-hide-comment {
    color: #65676b;
    font-weight: 500;
  }
  .btn-add-hide-comment:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
