.post-footer {
  padding: 0 16px 12px;
  .number-details {
    display: flex;
    justify-content: space-between;
    color: var(--color-second);
    border-bottom: 1px solid var(--color-hover-input);
    padding: 10px 0;
    .number-likes {
      display: flex;
      align-items: center;
      gap: 8px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
    .number-comments {
      display: flex;
      align-items: center;
      gap: 8px;
      .icon-comment {
        background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/CU34OlhYYa_.png");
        background-position: 0px -418px;
        background-size: 26px 698px;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        display: inline-block;
      }
    }
  }

  .tools-post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 8px 0;
    border-bottom: 1px solid var(--color-hover-input);
    font-weight: 600;
    color: var(--color-second);
    .tool {
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      height: 40px;
    }
    .tool:hover {
      background: var(--color-hover-input);
      cursor: pointer;
    }
    .like-post {
      .like-icon {
        background-size: 26px 698px;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        display: inline-block;
      }
    }
    .icon-like {
      .like-icon {
        background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/CU34OlhYYa_.png");
        background-position: 0px -232px;
      }
    }
    .icon-unlike {
      color: #2078f4;
      .like-icon {
        background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/CU34OlhYYa_.png");
        background-position: 0px -212px;
        filter: invert(39%) sepia(57%) saturate(200%) saturate(200%)
          saturate(200%) saturate(200%) saturate(200%) saturate(147.75%)
          hue-rotate(202deg) brightness(97%) contrast(96%);
      }
    }

    .comment-post {
      .icon-comment {
        background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/CU34OlhYYa_.png");
        background-position: 0px -418px;
        background-size: 26px 698px;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        display: inline-block;
      }
    }

    .save-post {
      .icon-save {
        path {
          fill: #2078f4;
        }
      }
      .icon-save ~ .save {
        color: #2078f4;
      }
    }
  }
}
body[data-theme="dark"] .post-footer .tools-post .icon-like .like-icon {
  filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg)
    brightness(90%) contrast(96%);
}
